@font-face {
  font-family: 'SF UI Display';
  src: url('../../font/SFUIDisplay-Regular.eot');
  src: url('../../font/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../font/SFUIDisplay-Regular.woff') format('woff'),
  url('../../font/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
