
.icon-paper-plane:before { content: '\e800'; } /* '' */
.icon-monitor:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-big:before { content: '\e805'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */