@font-face {
    font-family: "SFUIDisplay-Light";
    src: url(../font/SFUIDisplay-Light.otf);
}

@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(../font/SFUIDisplay-Regular.otf);
}

