@font-face {
    font-family: "SFUIDisplay-Light";
    src: url(../fonts/SFUIDisplay-Light.otf);
}

@font-face {
    font-family: "SFUIDisplay-Medium";
    src: url(../fonts/SFUIDisplay-Medium.otf);
}

@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(../fonts/SFUIDisplay-Regular.otf);
}