$marginTop:40px;
$widthMin:30px;
$widthMax:15%;
$heightTdThead:30px;
$heightTdTbody:20px;
$colorBackgrondThead:#ffee17;
$colorBackgrondTbody:transparent;
$fontSizeThead:18px;
$fontSizeTbody:18px;
$colorFontHead:#2ea7e0;
$colorFontBody:#595857;
$sizeButton:30px;


.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  min-width: 960px;
  //outline: 1px solid green;
  font-family: 'SF UI Display', serif;
  font-weight: normal;
}
.wrapBattonAdd {
  width: 100%;
  margin-top: $marginTop;
  text-align: left;
}
.btnAdd {
  position: absolute;
  top: 100px;
  left: 23px;
  width: 200px;
  padding: 6px 0;
  display: block;
  border: 2px outset #dfcdcd;
  background-color: #ffc200;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #2ea7e0;
  border-radius: 20px;
  outline: 1px transparent;
  transition: all .5s ease-in;
  text-decoration: none;
  z-index: 1020;
  &:hover{
    cursor: pointer;
    background: #fdff00;
  }
}
.wrapTable {
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  .table {
    z-index: 1022;
    width: 99%;
    margin-bottom: 20px;
    position: relative;
    .thead{
      border-radius: 40px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      tr {
        height: $heightTdThead;
        display: flex;
        flex-flow: row wrap  ;
        justify-content: space-around;
        align-items: center;
        background-color: $colorBackgrondThead;
        width: 100%;
        &:last-child {
          margin-top: 2px;
          width: 100%;
          height: 2px;
        }
        th{
          height: 100%;
          font-size: $fontSizeThead;
          text-transform: uppercase;
          color: $colorFontHead;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          &:nth-child(1),
          &:nth-child(7),
          &:nth-child(8)
          {
            width: $widthMin;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6)
          {
           min-width: $widthMax;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .ttbody{
      background-color: $colorBackgrondTbody;
      padding-bottom: 1px;
      width: 100%;
      tr{
        margin-top: $heightTdThead;
        height: $heightTdTbody;
        display: flex;
        flex-flow: row wrap  ;
        justify-content: space-around;
        align-items: center;
        &:nth-child(1){
          margin-top: 50px;
        }
        td {
          height: 100%;
          font-size: $fontSizeTbody;
          color: $colorFontBody;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          &:nth-child(1),
          &:nth-child(7),
          &:nth-child(8)
          {
            width: $widthMin;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6)
          {
            width: $widthMax;
          }
          input {
            font-size: $fontSizeTbody;
            background-color: yellow;
            border-radius:$fontSizeTbody ;
            border: 1px solid blue;
            
          }
        }
      }
    }
  }
}

.wrapSquaredBut {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  button{
    width: $sizeButton;
    height: $sizeButton;
    background-color: #ffe200;
    //border-radius: $sizeButton;
    outline: transparent;
    &:hover{
      cursor: pointer;
      background-color: #2ea7e0;
    }
  }
}
.delBtn,
.btnShowEditPage {
  width: 29px;
  height: 29px;
  background-color: #ffe200;
  border: 2px outset #e1d2d2;
  transition: all .3s ease-in;
  z-index: 1020;
}
.delBtn:hover,
.btnShowEditPage:hover {
  background: #2ea7e0;
}


