

$widthMin:30px;
$widthMax:27%;
$heightTdThead:30px;
$heightTdTbody:20px;
$colorBackgrondThead:#ffee17;
$colorBackgrondTbody:transparent;
$fontSizeThead:18px;
$fontSizeTbody:18px;
$colorFontHead:#2ea7e0;
$colorFontBody:#595857;
$sizeButton:30px;
.container {
  width: 100%;
  //outline: 1px solid blue;
}

.center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  //outline: 1px solid black;
  h1{
    font-weight: normal;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding: 1rem;
  }
}
.wrapTables {
  width: 70%;
}
.tableOwner {
  font: 14px 'SF UI Display',  sans-serif;
  width: 100%;
  z-index: 1022;
  margin-bottom: 20px;
  position: relative;
  //outline: 3px solid yellow;
  .thead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    tr {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: $heightTdThead;
      background: $colorBackgrondThead;
      color: $colorFontHead;
      &:last-child {
        margin-top: 2px;
        width: 100%;
        height: 2px;
      }
      th{
        height: 100%;
        font-size: $fontSizeThead;
        text-transform: uppercase;
        color: $colorFontHead;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        //outline: 1px solid red;
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5)
        {
          width: $widthMin;
        }
        &:nth-child(2),
        &:nth-child(3)
        {
          min-width: $widthMax;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .tbody{
    background-color: $colorBackgrondTbody;
    padding-bottom: 1px;
    width: 100%;
    color: black;
    tr{
      margin-top: $heightTdThead;
      height: $heightTdTbody;
      display: flex;
      flex-flow: row wrap  ;
      justify-content: space-around;
      align-items: center;
      &:nth-child(1){
        margin-top: 50px;
      }
      td {
        height: 100%;
        font-size: $fontSizeTbody;
        color: $colorFontBody;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5)
        {
          width: $widthMin;
        }
        &:nth-child(2),
        &:nth-child(3)
        {
          min-width: $widthMax;
        }
        .wrapSquaredBut {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
        }
        .btnEd,
        .btnDel{
          width: 29px;
          height: 29px;
          color: transparent;
          font-size: 1px;
          background-color: #ffe200;
          border: 2px outset #e1d2d2;
          transition: all .3s ease-in;
          z-index: 1020;
        }
        .btnEd:hover,
        .btnDel:hover {
          background: #2ea7e0;
        }
      }
    }
  }
}
/*****************************************************************/



/*ADD PRODUCT*/

.wrapForm{
  background-color: rgba(218, 244, 252, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: auto;
  padding: 1.2rem 1rem 0 1rem;
  z-index: 1;
  width: 27%;
  min-width: 240px;
  form {
    font:300 14px 'SF UI Display', sans-serif;
    h1 {
      color: #f8b62d;
      font: normal 20px 'SF UI Display', sans-serif;
      margin: 0 0 1rem 0;
      text-align: center;
    }
    input[type='text'] {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-bottom: 2px solid #2ea7e0;
      margin: 0 0 11px 0;
      padding-top: 0.1rem;
      outline: none;
      width: 95%;
    }
    input[type=submit] {
      background: #2ea7e0;
      border: 2px solid #2ea7e0;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      color: #fff;
      cursor: pointer;
      font: normal 0.8rem 'SF UI Display', sans-serif;
      float: left;
      margin: 20px 0 5px 0;
      outline: none;
      padding: 1.125rem 2rem;
    }

    input[type=submit]:hover {
      background: #f8b62d;
    }

  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .center {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: flex-start;
    align-items: center;
    .wrapTables {
      width: 100%;
    }
  }
}

@media screen and (min-width: 480px) {



}

@media screen and (min-device-width: 768px) {

}