
a.button7 {
    display: inline-block;
    color: dodgerblue;
    height: 40px;
    width: 100px;
    font-size: large;
    text-align: center  ;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    position: relative;
    left: 650px;
    top: 185px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}
a.button7:hover { background: ghostwhite; }
a.button7:active { background: aliceblue; }


hr {
    position: relative;
    top: 365px;
    border: none;
    background-color: darkslateblue;
    color: darkslateblue;
    height: 2px;
}
.word{
    color: skyblue;
}

p {
    position: relative;
    top: 400px;
    text-align: center;
    margin-left: 60px;
    margin-right: 10px;
    font-size: 20pt;
    font-family: Oriya MN;
    color: lightslategrey;
}