<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/styleProduct.css">

</head>
<body>

<div class="container">
	<div class="wrapBattonAdd">
		<button class="btnAdd">add a product +</button>
	</div>
	<div class="wrapTable">
	<table id="grid" class="table">
		<thead class="thead" id="theadFix">
			<tr>
				<th data-type="number">ID</th>
				<th data-type="string">Name</th>
				<th data-type="string">Manufacturer</th>
				<th data-type="string">Owner</th>
				<th data-type="number">Price</th>
				<th data-type="string">Description</th>
				<th data-type="string">Edit</th>
				<th data-type="string">Delete</th>
			</tr>
			<tr ></tr>
		</thead>
		<tbody class="ttbody" id="tbody">

		</tbody>
	</table>

	</div>


	<script type="text/template" id="table-template">
		<% for (var i=0;i < data.length ; i++){%>
		<tr data-value="<%= data[i].id %>">
			<td><%= data[i].id %></td>
			<td><%= data[i].name %></td>
			<td><%= data[i].manufac %></td>
			<td><%= data[i].owner %></td>
			<td><%= data[i].price %></td>
			<td><%= data[i].descrip %></td>
			<td>
				<div class="wrapSquaredBut">
					<button class="btnShowEditPage" value="" data-value="<%= data[i].id %>"></button>
				</div>
			</td>
			<td>
				<div class="wrapSquaredBut">
					<button class="delBtn" value="" data-value="<%= data[i].id %>"></button>
				</div>
			</td>
		</tr>
		<%};%>
	</script>
	<div class="wrapEditHide" id="wrEdit">
		<div class="wrapForm">
			<form action="#" class="formEdit">
				<h1>edit product</h1>
				<div class="wrapEditLabel">
				<label for="editId">id</label>
					<input type="text" class="editInput" id="editId" disabled>
				</div>
				<div class="wrapEditLabel">
					<label for="editName">Name</label>
					<input type="text" class="editInput" id="editName">
				</div>
				<div class="wrapEditLabel">
					<label for="editManufac">Manufacturer</label>
					<input type="text" class="editInput" id="editManufac">
				</div>
				<div class="wrapEditLabel">
					<label for="editOwner">Owner</label>
					<input type="text" class="editInput" id="editOwner">
				</div>
				<div class="wrapEditLabel">
					<label for="editPrice">Price</label>
					<input type="text" class="editInput" id="editPrice">
				</div>
				<div class="wrapEditLabel">
					<label for="editDescrip">Description</label>
					<input type="text" class="editInput" id="editDescrip">
				</div>
				<div class="wrapEditBut">
					<button id="btnEditSave">edit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/lodash.js"></script>
<script src="js/scriptProduct.js"></script>

</body>
</html>