.container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../img/backroundPage.jpg");
  background-size: cover;
  max-width: 1200px;
  height: 900px;
  font-family: 'SF UI Display'; }

.wrapTable {
  width: 80%;
  margin-top: 65px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .wrapTable .table {
    width: 100%; }
    .wrapTable .table .thead {
      background-color: #ffee17; }
      .wrapTable .table .thead tr {
        height: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center; }
        .wrapTable .table .thead tr td {
          height: 100%;
          font-size: 18px;
          text-transform: uppercase;
          color: #2ea7e0;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center; }
          .wrapTable .table .thead tr td:nth-child(1), .wrapTable .table .thead tr td:nth-child(7), .wrapTable .table .thead tr td:nth-child(8) {
            width: 30px; }
          .wrapTable .table .thead tr td:nth-child(2), .wrapTable .table .thead tr td:nth-child(3), .wrapTable .table .thead tr td:nth-child(4), .wrapTable .table .thead tr td:nth-child(5), .wrapTable .table .thead tr td:nth-child(6) {
            width: 70px; }
    .wrapTable .table .tbody {
      background-color: transparent; }
      .wrapTable .table .tbody tr {
        margin-top: 30px;
        height: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center; }
        .wrapTable .table .tbody tr td {
          height: 100%;
          font-size: 18px;
          color: #595857;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center; }
          .wrapTable .table .tbody tr td:nth-child(1), .wrapTable .table .tbody tr td:nth-child(7), .wrapTable .table .tbody tr td:nth-child(8) {
            width: 30px; }
          .wrapTable .table .tbody tr td:nth-child(2), .wrapTable .table .tbody tr td:nth-child(3), .wrapTable .table .tbody tr td:nth-child(4), .wrapTable .table .tbody tr td:nth-child(5), .wrapTable .table .tbody tr td:nth-child(6) {
            width: 70px; }
          .wrapTable .table .tbody tr td input {
            font-size: 18px;
            background-color: yellow; }

.wrapBatton {
  width: 19%;
  margin-top: 65px; }

.btnAdd {
  width: 200px;
  height: 30px;
  background-color: #ffc200;
  font-size: 18px;
  text-transform: uppercase;
  color: #2ea7e0;
  border-radius: 20px; }

/* .squaredThree */
.squaredThree {
  width: 18px;
  position: relative;
  margin: 18px auto; }
  .squaredThree label {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffee17;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4); }
    .squaredThree label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #000;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredThree label:hover::after {
      opacity: 0.3; }
  .squaredThree input[type=checkbox] {
    visibility: hidden; }
    .squaredThree input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredThree */

/*# sourceMappingURL=style.css.map */
