.container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../img/fon.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'SF UI Display'; }

.wrapTable {
  width: 80%;
  margin-top: 65px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .wrapTable .table {
    width: 100%; }
    .wrapTable .table .thead {
      border-radius: 10px; }
      .wrapTable .table .thead tr {
        height: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #ffee17; }
        .wrapTable .table .thead tr:last-child {
          margin-top: 2px;
          width: 100%;
          height: 2px; }
        .wrapTable .table .thead tr th {
          height: 100%;
          font-size: 18px;
          text-transform: uppercase;
          color: #2ea7e0;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center; }
          .wrapTable .table .thead tr th:nth-child(1), .wrapTable .table .thead tr th:nth-child(7), .wrapTable .table .thead tr th:nth-child(8) {
            width: 30px; }
          .wrapTable .table .thead tr th:nth-child(2), .wrapTable .table .thead tr th:nth-child(3), .wrapTable .table .thead tr th:nth-child(4), .wrapTable .table .thead tr th:nth-child(5), .wrapTable .table .thead tr th:nth-child(6) {
            width: 70px; }
          .wrapTable .table .thead tr th:hover {
            cursor: pointer; }
    .wrapTable .table .tbody {
      background-color: transparent; }
      .wrapTable .table .tbody tr {
        margin-top: 30px;
        height: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center; }
        .wrapTable .table .tbody tr td {
          height: 100%;
          font-size: 18px;
          color: #595857;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center; }
          .wrapTable .table .tbody tr td:nth-child(1), .wrapTable .table .tbody tr td:nth-child(7), .wrapTable .table .tbody tr td:nth-child(8) {
            width: 30px; }
          .wrapTable .table .tbody tr td:nth-child(2), .wrapTable .table .tbody tr td:nth-child(3), .wrapTable .table .tbody tr td:nth-child(4), .wrapTable .table .tbody tr td:nth-child(5), .wrapTable .table .tbody tr td:nth-child(6) {
            width: 70px; }
          .wrapTable .table .tbody tr td input {
            font-size: 18px;
            background-color: yellow; }

.wrapBatton {
  width: 19%;
  margin-top: 65px; }

.btnAdd {
  width: 200px;
  height: 30px;
  background-color: #ffc200;
  font-size: 18px;
  text-transform: uppercase;
  color: #2ea7e0;
  border-radius: 20px; }
  .btnAdd:hover {
    cursor: pointer; }

.wrapSquaredBut {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .wrapSquaredBut button {
    width: 18px;
    height: 18px;
    background-color: #ffe200; }
    .wrapSquaredBut button:hover {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
